{% extends "base_generic.html" %}

{% block content %}
  <!-- Adicionar um header -->
  <p>Atualmente a lanchonete possui a quantidade de:</p>
  <!-- TODO: mudar pra um welcome mostrando as opções -->
  <ul>
    <li><strong>Lanches:</strong> {{ num_dishes }}</li>
    <li><strong>Ingredientes:</strong> {{ num_ingredients }}</li>
  </ul>
    <!-- TODO: adicionar um footer -->
{% endblock %}