{% extends "base_generic.html" %}

{% block content %}
  <h1>Lanches</h1>
  {% if dish_list %}
  <ul>
    {% for dish in dish_list %}
      <li>
        <a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Não há lanches :(.</p>
  {% endif %}       
{% endblock %}