{% extends "base_generic.html" %}

{% block content %}
  <h1>Lanche: {{ dish.name }}</h1>

  <p><strong>Nome:</strong> {{ dish.name }}</p> <!-- author detail link not yet defined -->
  <p><strong>Ingredientes:</strong> {% for ingredient in dish.get_ingredients_list_name %} {{ ingredient }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  <p><strong>Preço:</strong> {{ dish.calculates_price }} </p>

{% endblock %}